%h2 Thank you for your order
%br
- @cart.shopping_cart_items.each do |cart_item|
  = cart_item.item.name
  = cart_item.item.price
  %br
%p
Total:
= @cart.total
SEK
%br
%br
%br
- @cart.shopping_cart_items.each do |cart_item|
  = cart_item.item.menu.restaurant.name
  %br
  Current Rating
  = cart_item.item.menu.restaurant.rating.rating.round(2)
  = form_for [@rating], :html => {class: cart_item.item.menu.restaurant.name} , url: rate_path(cart_id: @cart.id,rest_id: cart_item.item.menu.restaurant.id),method: 'post' do |f|
    %div{class: "rest-#{cart_item.item.menu.restaurant.id}"}
      = f.select(:rating, ['1','2','3','4','5'])
      = f.submit "Rating"
      %br
      %br
